<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{% block title %}{% endblock %}Bond & Coyne</title>
</head>
<body>
	{% block content %}
		Content goes here
	{% endblock %}
</body>
</html>