<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}{% endblock %}Bond & Coyne</title>
	<link rel="stylesheet" href="foundation/css/app.css">
	<link rel="stylesheet" href="foundation/bower_components/foundation-icon-fonts/foundation-icons.css" />
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100|Roboto:300,700,400' rel='stylesheet' type='text/css'>
</head>
<body>
	<header id="pageHeader" class="row collapse">
		<div class="small-12 columns">
			<button class="button float-left">
				<i class="fi-list"></i><br>
				<span>MENU</span>
			</button>
			<div id='companyTitle'>Bond & Coyne</div>
		</div>
	</header>
	{% block content %}
		Content goes here
	{% endblock %}


	<script src="foundation/bower_components/jquery/dist/jquery.js"></script>
	<script src="foundation/bower_components/foundation-sites/dist/foundation.js"></script>
	<script src="foundation/js/app.js"></script>
</body>
</html>


