<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}{% endblock %}Bond & Coyne</title>
	<link rel="stylesheet" href="foundation/css/app.css">
	<link rel="stylesheet" href="foundation/bower_components/foundation-icon-fonts/foundation-icons.css" />
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100|Roboto:300,700,400' rel='stylesheet' type='text/css'>
	<link rel="shortcut icon" href="img/favicon.ico">
</head>
<body id="body">
	<div id="bodyContent">
		{% include '_header.twig' %}
		{% include '_menu.twig' %}
		<div id="hideOnMenu">
			<div id="pageContent">
				{% block content %}
					Content goes here
				{% endblock %}
			</div>
			{% include '_footer.twig' %}
		</div>
	</div>
	
	<script src="foundation/bower_components/jquery/dist/jquery.js"></script>
	<script src="foundation/bower_components/foundation-sites/dist/foundation.js"></script>
	<script src="foundation/js/app.js"></script>
</body>
</html>


