<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}{% endblock %}Bond & Coyne</title>
	<link rel="stylesheet" href="foundation/css/app.css">
	<link rel="stylesheet" href="foundation/bower_components/foundation-icon-fonts/foundation-icons.css" />
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,100|Roboto:300,700,400' rel='stylesheet' type='text/css'>
	<link rel="shortcut icon" href="img/favicon.ico">
</head>
<body>
	<header id="pageHeader" class="row collapse">
		<div class="small-12 medium-6 large-5 columns">
			<button class="button float-left alt-color font-bold upper">
				<i class="fi-list"></i><br>
				<span>Menu</span>
			</button>
			{% block headerText %}
			<div id='companyTitle' class="alt-color alt-font">Bond & Coyne</div>
			{% endblock %}
		</div>
		<div class="medium-6 large-8 show-for-medium columns">
			
		</div>
	</header>
	{% block content %}
		Content goes here
	{% endblock %}
	<footer id="pageFooter">
		<div class="row logo-footer collapse">
			<div class="small-12 medium-10 large-6 columns medium-centered text-center vMargin">
				{% set primaryFooterLogos = [
					'img/footerLogos/CIM_full.png',
					'img/footerLogos/gea-logo-eu-white.png'
				] %}
				{% for logo in primaryFooterLogos %}
					<img class="primaryFooterLogo" src="{{logo}}" alt="" style="max-height:80px;">
				{% endfor %}
				<hr>
				<div class="row">
				{% set secondaryFooterLogos = [
					'img/footerLogos/accred.png',
					'img/footerLogos/CIM.png',
					'img/footerLogos/google-partner-badge.png',
					'img/footerLogos/RAR_logo--white.png'
				] %}
				{% for logo in secondaryFooterLogos %}
					<div class="small-6 medium-3 columns">
						<img src="{{logo}}" alt="">
					</div>
				{% endfor %}
				</div>
			</div>
		</div>
		<div class="hMargin vMargin">
			<div class="row muted">
				<div class="small-12 medium-6 columns">
					<address class="font-light">
						<span class="strong-title muted">Bond & Coyne</span><br>
						+44 (0) 20 3567 1100<br>
						<a  href="">hello@bondandcoyne.co.uk</a>
					</address>
				</div>
				<div class="small-12 medium-3 columns text-right bigger">
					<a href=""><i class="fi-social-twitter"></i></a>
					<a href=""><i class="fi-social-linkedin"></i></a>
					<a href=""><i class="fi-social-vimeo"></i></a>
				</div>
			</div>
		</div>
	</footer>


	<script src="foundation/bower_components/jquery/dist/jquery.js"></script>
	<script src="foundation/bower_components/foundation-sites/dist/foundation.js"></script>
	<script src="foundation/js/app.js"></script>
</body>
</html>


