<footer id="pageFooter">
	<div class="gray-bg">
		<div class="hMargin">
			<div class="row">
				<div class="small-12 medium-10 large-8 columns medium-centered text-center">
					{% set primaryFooterLogos = [
						'img/footerLogos/CIM_full.png',
						'img/footerLogos/gea-logo-eu-white.png'
					] %}
					{% for logo in primaryFooterLogos %}
						<img class="primaryFooterLogo" src="{{logo}}" alt="">
					{% endfor %}
					<hr>
					<div class="row">
					{% set secondaryFooterLogos = [
						'img/footerLogos/accred.png',
						'img/footerLogos/CIM.png',
						'img/footerLogos/google-partner-badge.png',
						'img/footerLogos/RAR_logo--white.png'
					] %}
					{% for logo in secondaryFooterLogos %}
						<div class="small-6 medium-3 columns">
							<img class="secondary-footer-logos" src="{{logo}}" alt="">
						</div>
					{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="hMargin vMargin">
		<div class="row text-center">
			<div class="small-12 medium-8 columns medium-text-left">
				<address class="font-light">
					<span class="strong-title">Bond & Coyne</span><br>
					+44 (0) 20 3567 1100<br>
					<a class="underline-link"  href="">hello@bondandcoyne.co.uk</a>
				</address>
			</div>
			<div id="footerSocial" class="small-12 medium-4 columns medium-text-right">
				<a href=""><img src="img/icons/twitter-gray.png" alt=""></a>
				<a href=""><img src="img/icons/linked-in-gray.png" alt=""></i></a>
				<a href=""><img src="img/icons/vimeo-gray.png" alt=""></a>
			</div>
		</div>
	</div>
</footer>