<header id="pageHeader" class="row collapse expanded">
	<div class="small-12 medium-6 columns">
		<button id="mainMenuButton" onClick="toggleMenu()" class="button float-left alt-color font-bold upper square icon-text">
			<img src="img/icons/menu.png" alt=""><br>
			<span>Menu</span>
		</button>
		{% block headerText %}
		<div id='companyTitle' class="alt-color alt-font">Bond & Coyne</div>
		{% endblock %}
	</div>
</header>