<header id="pageHeader" class="row collapse expanded" data-sticky-container>
	<div class="small-12 columns" data-sticky data-options="stickyOn:large; marginTop:0">
		<button id="mainMenuButton" onClick="toggleMenu()" class="button float-left alt-color font-bold upper square icon-text">
			<img src="img/icons/menu.png" alt=""><br>
			<span>Menu</span>
		</button>
		{% block headerText %}
		<div id='companyTitle' onClick="window.location.href = '/';" class="alt-color alt-font">Bond & Coyne</div>
		{% endblock %}
	</div>
</header>