<div class="social-snap-container">
	<div id="socialButtons">
		<button onClick="$('#socialButtons .menu').slideToggle('slow');" id="socialMenuButton" class="button alt-color square">
			<i class="fi-share"></i><br>
		</button>
			<ul class="menu">
				<li><button type="button" class="button white square">
					<i class="fi-social-twitter alt-color"></i>
				</button></li>
				<li><button type="button" class="button white square">
					<i class="fi-social-linkedin alt-color"></i>
				</button></li>
				<li><button type="button" class="button white square">
					<i class="fi-social-facebook alt-color"></i>
				</button></li>
				<li><button type="button" class="button white square">
					<i class="fi-social-google-plus alt-color"></i>
				</button></li>
			</ul>
	</div>
</div>