<section id="workModuleContainer" class="work-module">
	<nav>
		<div class="sticky-nav-container" {% if sticky_menu %}data-sticky-container{% endif %}>
			<div class="sticky-nav" {% if sticky_menu %}data-sticky data-options='stickyOn:large; marginTop:5; anchor:workModuleContainer;'{% endif %}>
				<div class="row collapse">
					<div class="columns small-12 medium-3 hide-for-medium">
						<button onClick="toggleFilter($('.filter-row'),$(this))" class="button expanded white">
							<img class="show-closed" src="img/icons/plus.png" alt=""><img class="show-open" src="img/icons/minus.png" alt="">Filter
						</button>
					</div>
				</div>
				<ul class="row collapse filter-row">
					<li class="columns small-12 medium-3">
						<button class="button expanded white">
							Education
						</button>
					</li>
					<li class="columns small-12 medium-3">
						<button class="button expanded white">
							Private Sector
						</button>
					</li>
					<li class="columns small-12 medium-3">
						<button class="button expanded white">
							Public Sector
						</button>
					</li>
					<li class="columns small-12 medium-3">
						<button class="button expanded white">
							Financial
						</button>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="imageTiles row small-up-1 medium-up-2 large-up-3 expanded collapse">
		{% set images = [
			"img/tiles/weatherspinners.png",
			"img/tiles/totton.png",
			"img/tiles/skillset.jpg",
			"img/tiles/ellie.jpg",
			"img/tiles/kscope.png",
			"img/tiles/DNA.png",
			"img/tiles/irc.jpg",
			"img/tiles/aeccmobile.jpg",
			"img/tiles/prospectus.jpg",
			"img/tiles/weatherspinners.png",
			"img/tiles/totton.png",
			"img/tiles/ellie.jpg",
		]%}
		{% for image in images|slice(0,number_of_tiles_large) %}
			<article class="columns vertical-center-container {% if number_of_tiles_medium and loop.index > number_of_tiles_medium %}show-for-large{% elseif number_of_tiles_small and loop.index > number_of_tiles_small %}show-for-medium{% endif %}" onClick="window.location.href = '/work';">
				<img src="{{image}}" alt="" onClick="">
				<div class="desc vertical-center-delay">
					<h3>Arts University Bournemouth</h3>
					<h1><a href="/work" onClick="event.preventDefault();">Brand Strategy and an Award Winning Prospectus</a></h1>
				</div>
			</article>
		{% endfor %}
	</div>
</section>