{% extends "_base.twig" %}
{% block title %}Journal - {% endblock %}
{% block content %}
<section>
	{% set blogImages = [
		'/img/prospectus.jpg',
		'/img/blog/1.jpg',
		'/img/blog/2.jpg',
		'/img/blog/3.jpg',
		'/img/prospectus.jpg'
		] %}
	{% for image in blogImages %}
	<article>
		<div class="row expanded collapse">
			<img src="{{image}}" alt="" class="columns small-12">
		</div>
		<div class="hMargin">
			<div class="row">
				<div class="columns small-12 large-6">
					<heading>
						<h1>Our Weekend Away in Berlin</h1>
						<h2>June 5 2015</h2>
						<p class="strong-title">Education - Work</p>
					</heading>
					<hr class="show-for-large">
				</div>
				<div class="columns small-12 large-6">
					<p>Against a turbulent market backdrop, Arts University Bournemouth (AUB) needed to reinvent their prospectus. Recognising that it can easily be discarded by prospective students as a tired piece of print, and understanding the importance of their online presence, their traditional prospectus needed a new lease of life.</p>
					<p>Unlike the interactive nature of online, the printed prospectus struggled to truly reflect the creative and collaborative environment of AUB. The breadth of content it covered and its physicality made it both costly to print and post to enquirers.</p>
					<button type='button' class="button secondary hollow main-buttons">Read</button>
				</div>
			</div>
		</div>
	</article>
	{% endfor %}
	<div class="hMargin">
		<div class="row">
			<div class="columns small-6"><a href="#" class="button white strong-title">Previous Posts</a></div>
			<div class="columns small-6 text-right"><a href="#" class="button white strong-title">New Posts</a></div>
		</div>
	</div>
</section>
{% endblock %}