{% extends "_base.twig" %}
{% block title %}{% endblock %}
{% block content %}
<div id="indexPage">
	<section id="indexPageScreenHeight">
		<div class="vertical-center-container header-height">
			<img class="heading-image show-for-large" src="img/aub1-crop.jpg" alt="">
			<div class="hMargin">
				<div class="row">
					<div class="columns vertical-center vertical-center-delay small-12 medium-10 medium-offset-1 end large-6 large-offset-0 end heading-text">
						<h1>Welcome to <span class="alt-color">Bond&Coyne</span>, an award winning branding agency delivering impactful and innovative solutions.</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="row expanded collapse">
			<div class="columns small-12 text-center">
				<button type="button" onClick="scrollToElement($('#work-module-container'),80)" class="button expanded white no-margin font-light view-work">
					View our work<br>
					<img src="img/icons/down-chevron.png" alt="">
				</button>
			</div>
		</div>
	</section>
	<div id="work-module-container">
		{% include '_work_module.twig' with {'number_of_tiles_small': 4, 'number_of_tiles_medium':8, 'number_of_tiles_large':9 } %}
	</div>
	<div class="row">
		<div class="columns small-12 text-center">
			<a href="workmenu" class="view-all-work-button button hollow secondary main-buttons" type='button'>View All Work</a>
		</div>
	</div>
	{% include "_blog_module.twig" with {'hideHeader': false, 'buttonText': 'Read More'} %}
{% endblock %}