{% extends "_base.twig" %}
{% block title %}{% endblock %}
{% block content %}
<div id="indexPage">
	<img class="heading-image show-for-large" src="img/aub1-crop.jpg" alt="">
	<div class="hMargin">
		<div class="row">
			<div class="columns small-12 large-6 end clear-header">
				<h1 class="muted font-light">Welcome to <span class="alt-color">Bond&Coyne</span>, an award winning branding agency delivering impactful and innovative solutions.</h1>
			</div>
		</div>
	</div>
	<div class="row expanded collapse">
		<div class="columns small-12 text-center">
			<button type="button" class="button expanded white no-margin font-light view-work">
				View our work<br>
				<img src="img/icons/down-chevron.png" alt="">
			</button>
		</div>
	</div>
	{% include '_work_module.twig' %}
	<div class="row">
		<div class="columns small-12 text-center">
			<a href="workmenu" class="button hollow secondary" type=button>View All Work</a>
		</div>
	</div>
	<div class="light-gray-bg">
		<div id="newsList" class="hMargin">
			<div class="row">
				<div class="columns small-12">
					<h1>Latest <span class="show-for-large">News</span></h1>
				</div>
			</div>
			<div class="row column"><hr></div>
			<div class="row">
				{% set newsImages = [
					{'img':'img/news-thumb/one.jpg', 'heading':'Award Winning Education Campaign'},
					{'img':'img/news-thumb/two.jpg', 'heading':'A pitch winning week for B&C'},
					{'img':'img/news-thumb/three.jpg', 'heading':'Our recent weekend in Berlin'}
				] %}
				{% for image in newsImages %}
				<div class="columns small-12 medium-6 large-4 {% if loop.last %} show-for-large {% endif %}">
					<div class="news-tile white-bg">
						<img src="{{ image.img }}" alt="">
						<p class="muted alt-font font-light">{{image.heading}}</p>
						<a class="underline-link muted" href="#">Read More</a>
					</div>
				</div>
				{% endfor %}
			</div>
			<div class="row column"><hr></div>
			<div class="row">
				<div class="columns small-12 text-center">
					<a href="#" class="button hollow secondary show-for-large" type=button>Read more</a>
					<a href="#" class="underline-link muted hide-for-large" type=button>More posts</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}