{% extends "_base.twig" %}
{% block title %}{% endblock %}
{% block content %}
<div id="indexPage">
	<div class="row expanded collapse">
		<div class="columns small-12 large-6 clear-header">
			<h1 class="muted font-light">Welcome to <span class="alt-color">Bond&Coyne</span>, an award winning branding agency delivering impactful and innovative solutions.</h1>
		</div>
		<div class="columns large-6 show-for-large">
			<img src="img/aub1-crop.jpg" alt="">
		</div>
	</div>
	<div class="row expanded collapse">
		<div class="columns small-12 text-center">
			<button type="button" class="button expanded white no-margin font-light view-work">
				View our work<br>
				<img src="img/icons/down-chevron.png" alt="">
			</button>
		</div>
	</div>
	<nav>
		<ul class="row collapse">
			<li class="columns small-12 medium-3">
				<button class="button expanded white strong-title">
					Education
				</button>
			</li>
			<li class="columns small-12 medium-3">
				<button class="button expanded white strong-title">
					Private Sector
				</button>
			</li>
			<li class="columns small-12 medium-3">
				<button class="button expanded white strong-title">
					Public Sector
				</button>
			</li>
			<li class="columns small-12 medium-3">
				<button class="button expanded white strong-title">
					Financial
				</button>
			</li>
		</ul>
	</nav>
	<div class="row expanded collapse imageTiles">
		{% set images = [
			"img/tiles/weatherspinners.png",
			"img/tiles/totton.png",
			"img/tiles/ellie.jpg",
			"img/tiles/skillset.jpg",
			"img/tiles/kscope.png",
			"img/tiles/DNA.png",
			"img/tiles/irc.jpg",
			"img/tiles/aeccmobile.jpg",
			"img/tiles/prospectus.jpg"
		]%}
		{% for image in images %}
			<div class="columns small-12 medium-4">
				<img src="{{image}}" alt="">
			</div>
		{% endfor %}
	</div>
	<div class="row">
		<div class="columns small-12 text-center">
			<button class="button hollow secondary" type=button>View All Work</button>
		</div>
	</div>
	<div class="light-gray-bg">
		<div id="newsList" class="hMargin">
			<div class="row">
				<div class="columns small-12">
					<h1>Latest <span class="show-for-large">News</span></h1>
				</div>
			</div>
			<div class="row column"><hr></div>
			<div class="row">
				{% set newsImages = [
					{'img':'img/news-thumb/one.jpg', 'heading':'Award Winning Education Campaign'},
					{'img':'img/news-thumb/two.jpg', 'heading':'A pitch winning week for B&C'},
					{'img':'img/news-thumb/three.jpg', 'heading':'Our recent weekend in Berlin'}
				] %}
				{% for image in newsImages %}
				<div class="columns small-12 medium-6 large-4 {% if loop.last %} show-for-large {% endif %}">
					<div class="news-tile white-bg">
						<img src="{{ image.img }}" alt="">
						<p class="muted">{{image.heading}}</p>
						<a class="underline-link muted" href="#">Read More</a>
					</div>
				</div>
				{% endfor %}
			</div>
			<div class="row column"><hr></div>
			<div class="row">
				<div class="columns small-12 text-center">
					<button class="button hollow secondary" type=button>Read more</button>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}