{% extends "_base.twig" %}
{% block title %}{% endblock %}
{% block content %}
<div id="indexPage">
	<section id="indexPageScreenHeight">
		<div class="vertical-center-container header-height">
			<img class="heading-image show-for-large" src="img/aub1-crop.jpg" alt="">
			<div class="hMargin">
				<div class="row">
					<div class="columns vertical-center vertical-center-delay small-12 medium-10 medium-offset-1 end large-6 large-offset-0 end heading-text">
						<h1>Welcome to <span class="alt-color">Bond&Coyne</span>, an award winning branding agency delivering impactful and innovative solutions.</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="row expanded collapse">
			<div class="columns small-12 text-center">
				<button type="button" onClick="scrollToElement($('#work-module-container'),80)" class="button expanded white no-margin font-light view-work">
					View our work<br>
					<img src="img/icons/down-chevron.png" alt="">
				</button>
			</div>
		</div>
	</section>
	<div id="work-module-container">
		{% include '_work_module.twig' with {'number_of_tiles_small': 4, 'number_of_tiles_medium':8, 'number_of_tiles_large':9 } %}
	</div>
	<div class="row">
		<div class="columns small-12 text-center">
			<a href="workmenu" class="view-all-work-button button hollow secondary main-buttons" type='button'>View All Work</a>
		</div>
	</div>
	<section class="light-gray-bg">
		<div id="newsList" class="hMargin">
			<heading class="row">
				<div class="columns small-12">
					<h1 class="gray-color">Latest <span class="show-for-large">News</span></h1>
				</div>
			</heading>
			<div class="row column"><hr></div>
			<div class="row" data-equalizer data-equalizer-on='medium'>
				{% set newsImages = [
					{'img':'img/news-thumb/one.jpg', 'heading':'Award Winning Education Campaign'},
					{'img':'img/news-thumb/two.jpg', 'heading':'A pitch winning week for B&C'},
					{'img':'img/news-thumb/three.jpg', 'heading':'Our recent weekend in Berlin'}
				] %}
				{% for image in newsImages %}
				<article class="columns small-12 medium-6 large-4 {% if loop.last %} show-for-large {% endif %}">
					<div class="news-tile white-bg" data-equalizer-watch>
						<div class="match-height-content">
							<a href="#">
								<img src="{{ image.img }}" alt="">
							</a>
							<div class="desc">
								<p class="alt-font">{{image.heading}}</p>
								<a class="read-more-spacer underline-link font-light" href="/blog">Read More</a>
								<a class="read-more underline-link font-light" href="/blog">Read More</a>
							</div>
						</div>
					</div>
				</article>
				{% endfor %}
			</div>
			<div class="row column"><hr class="no-bottom-margin"></div>
			<div class="row">
				<div class="columns small-12 text-center">
					<a href="/blogmenu" class="button hollow secondary main-buttons" type=button>Read more</a>
				</div>
			</div>
		</div>
	</section>
</div>
{% endblock %}