{% extends "_base.twig" %}
{% block title %}{% endblock %}
{% block content %}
<section>
	<div class="row collapse">
		<img class="small-12 columns" src="img/work-main.jpg" alt="Main image">
	</div>
</section>
<section id="workPage" class="hMargin">
	<div class="row">
		<div class="small-12 medium-11 large-6 columns">
			<h1>Award Winning Education Campeign</h1>
			<h2>Building a brand strategy by breaking the rules of what a prospectus should be</h2>
			<p class="locationHeading">Arts University Bournemouth</p>
			<hr>
		</div>
		<div class="small-12 medium-11 large-6 columns end">
			<h3>Problem</h3>
			<p>Against a turbulent market backdrop, Arts University Bournemouth (AUB) needed to reinvent their prospectus. Recognising that it can easily be discarded by prospective students as a tired piece of print, and understanding the importance of their online presence, their traditional prospectus needed a new lease of life.</p>
			<p>Unlike the interactive nature of online, the printed prospectus struggled to truly reflect the creative and collaborative environment of AUB. The breadth of content it covered and its physicality made it both costly to print and post to enquirers.</p>
		</div>
	</div>
</section>
	
</div>
{% endblock %}