{% extends "_base.twig" %}
{% block title %}{% endblock %}
{% block content %}
<section>
	<div class="row collapse">
		<img class="small-12 columns" src="img/work-main.jpg" alt="Main image">
	</div>
</section>
<section class="hMargin vMargin">
	<div class="row">
		<div class="small-12 columns">
			<h1>Award Winning Education Campeign</h1>
			<h2>Building a brand strategy by breaking the rules of what a prospectus should be</h2>
			<p class="locationHeading">Arts University Bournemouth</p>
		</div>
	</div>
</section>
	
</div>
{% endblock %}